__pycache__/
*.py[cod]
*.log
*.tmp
*.DS_Store

# Virtual environments
.venv/
venv/
env/

# Distribution / build artifacts
build/
dist/
*.egg-info/

# IDE settings
.idea/
.vscode/

# PyInstaller cache
*.spec~
*.manifest
*.exe
afk-mouse.icns
AFK Mouse.spec
